#fundo { background-color: rgba(0,0,0,0.6); }
#frente {  }
#frente img {
	border: 1px solid #DDD;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
svg {
	fill: grey; fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,0.5);
	stroke-width: 12px;
	transition: fill 250ms ease-in-out;
}
svg:hover { fill: white; };